<a href="https://colab.research.google.com/github/alexontour/snippets/blob/main/snip_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Author: Alexander Kollmann, 08/2022**

---

**Funktion**

wichtige Pandas Funktionen anhand des Datensatztes "COVID-19 Schutzimpfungen - Ausgelieferte und bestellte Impfdosen" erklärt

---



**Referenzen**

https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html 

https://www.nagarajbhat.com/post/picture-pandas-little-guide/

---

In [1]:
import pandas as pd

In [3]:
# CSV in Dataframe einlesen
# https://www.data.gv.at/katalog/dataset/covid-19-schutzimpfungen-ausgelieferte-und-bestellte-impfdosen
url = 'https://info.gesundheitsministerium.gv.at/data/timeline-bbg.csv'
df = pd.read_csv(url, sep=';')

In [4]:
# Dataframe anzeigen und die ersten 5 Zeilen anzeigen
df.head()

,Datum,BundeslandID,Bevölkerung,Name,Auslieferungen,AuslieferungenPro100,Bestellungen,BestellungenPro100
0,2021-01-09T23:59:59+01:00,0,NaN,Bundesverwaltung,0,NaN,0,NaN
1,2021-01-09T23:59:59+01:00,1,299235.0,Burgenland,355,0.118636,3995,1.335071
2,2021-01-09T23:59:59+01:00,2,566166.0,Kärnten,305,0.053871,6830,1.206360
3,2021-01-09T23:59:59+01:00,3,1708140.0,Niederösterreich,9042,0.529348,20070,1.174962
4,2021-01-09T23:59:59+01:00,4,1512226.0,Oberösterreich,520,0.034386,21395,1.414802

In [5]:
# Zusammenfasende Statistik - Achtung - macht nicht immer Sinn !
df.describe()

,BundeslandID,Bevölkerung,Auslieferungen,AuslieferungenPro100,Bestellungen,BestellungenPro100
count,6721.000000,6.110000e+03,6.721000e+03,6110.000000,6.721000e+03,6110.000000
mean,5.000000,1.805600e+06,2.421777e+06,123.105462,2.482004e+06,125.811238
std,3.162513,2.469485e+06,4.413478e+06,73.055228,4.493094e+06,72.877072
min,0.000000,2.992350e+05,0.000000e+00,0.034386,0.000000e+00,0.783302
25%,2.000000,5.642930e+05,4.074290e+05,60.438637,4.307830e+05,67.139067
50%,5.000000,1.011691e+06,1.023272e+06,124.669166,1.054992e+06,130.567237
75%,8.000000,1.708140e+06,2.523999e+06,186.359114,2.554440e+06,186.818164
max,10.000000,9.027999e+06,2.383064e+07,263.963742,2.523424e+07,279.510919

In [6]:
# Datentypen des Dataframe anzeigen
df.dtypes

Datum                    object
BundeslandID              int64
Bevölkerung             float64
Name                     object
Auslieferungen            int64
AuslieferungenPro100    float64
Bestellungen              int64
BestellungenPro100      float64
dtype: object

In [7]:
# Filtern - Spalten
df_filter = df.filter(['Datum','Name','Auslieferungen'])
df_filter

                          Datum              Name  Auslieferungen
0     2021-01-09T23:59:59+01:00  Bundesverwaltung               0
1     2021-01-09T23:59:59+01:00        Burgenland             355
2     2021-01-09T23:59:59+01:00           Kärnten             305
3     2021-01-09T23:59:59+01:00  Niederösterreich            9042
4     2021-01-09T23:59:59+01:00    Oberösterreich             520
...                         ...               ...             ...
6716  2022-09-11T23:59:59+02:00        Steiermark         2671519
6717  2022-09-11T23:59:59+02:00             Tirol         1683977
6718  2022-09-11T23:59:59+02:00        Vorarlberg          822135
6719  2022-09-11T23:59:59+02:00              Wien         4300731
6720  2022-09-11T23:59:59+02:00        Österreich        23830644

[6721 rows x 3 columns]

In [8]:
# Filter - Reihen
df_filter.loc[(df_filter.Name=='Salzburg')&(df_filter.Auslieferungen>=1000)]

                          Datum      Name  Auslieferungen
5     2021-01-09T23:59:59+01:00  Salzburg            1660
16    2021-01-10T23:59:59+01:00  Salzburg            1660
27    2021-01-11T23:59:59+01:00  Salzburg            3650
38    2021-01-12T23:59:59+01:00  Salzburg            4035
49    2021-01-13T23:59:59+01:00  Salzburg            4610
...                         ...       ...             ...
6671  2022-09-07T23:59:59+02:00  Salzburg         1248629
6682  2022-09-08T23:59:59+02:00  Salzburg         1248629
6693  2022-09-09T23:59:59+02:00  Salzburg         1249825
6704  2022-09-10T23:59:59+02:00  Salzburg         1250689
6715  2022-09-11T23:59:59+02:00  Salzburg         1250689

[611 rows x 3 columns]

In [13]:
# Gruppiert darstellen
df.filter(['Datum','Name','Auslieferungen']).groupby('Name').max().sort_values('Name',ascending=True).head(15)

                                      Datum  Auslieferungen
Name
Bundesverwaltung  2022-09-11T23:59:59+02:00         4916781
Burgenland        2022-09-11T23:59:59+02:00          615923
Kärnten           2022-09-11T23:59:59+02:00         1177364
Niederösterreich  2022-09-11T23:59:59+02:00         3431530
Oberösterreich    2022-09-11T23:59:59+02:00         2959995
Salzburg          2022-09-11T23:59:59+02:00         1250689
Steiermark        2022-09-11T23:59:59+02:00         2671519
Tirol             2022-09-11T23:59:59+02:00         1683977
Vorarlberg        2022-09-11T23:59:59+02:00          822135
Wien              2022-09-11T23:59:59+02:00         4300731
Österreich        2022-09-11T23:59:59+02:00        23830644